[alias]
  aa = add --all
  ae = add --edit
  ca = cs --amend
  co = cs --all
  cm = cs --message
  cs = commit --signoff
  di = diff
  ds = di --staged
  lt = describe --abbrev=0 --tags
  ps = push
  pl = pull
  st = status
  ss = st --short
  sv = st --verbose
[branch]
  autosetuprebase = always
[core]
  autocrlf = input
  safecrlf = true
[credential]
  helper = osxkeychain
[github]
  user = nightire
[http]
  proxy = http://127.0.0.1:8123
[https]
  proxy = http://127.0.0.1:8123
[hub]
  protocol = https
[pull]
  rebase = true
[push]
  default = simple
[status]
  branch = true
[user]
  name = Albert Yu
  email = dev.yufan@gmail.com
[url "https://"]
  insteadOf = git://
