[alias]
  aa = add --all
  ae = add --edit
  ba = br --all
  bd = br --delete
  bf = bd --force
  bl = br --list
  br = branch
  cb = ch -b
  ch = checkout
  ca = cs --all
  cm = cs --message
  cs = commit --signoff
  di = diff
  ds = di --staged
  ps = push
  pl = pull
  ri = rebase --interactive
  st = status
  ss = st --short
  sv = st --verbose
  td = tag --delete
  tl = describe --abbrev=0 --tags
  tm = tag --annotate --message
[branch]
  autoSetupRebase = always
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[commit]
  gpgsign = true
[core]
  autocrlf = input
  pager = diff-so-fancy | less --tabs=4 -RFX
  safecrlf = true
[credential]
  helper = osxkeychain
[github]
  user = nightire
[hub]
  protocol = https
[mergetool]
  keepBackup = false
[pull]
  rebase = true
[push]
  default = simple
  followTags = true
[url "https://"]
  insteadOf = git://
[user]
  name = Albert Yu
  email = dev.yufan@gmail.com
  signingkey = 7A2A50BA
