snippet reco "React Component"
import React, {Component, PropTypes} from 'react';

export default class $1 extends Component {
	static propTypes = {
		$2,
	};

	static defaultProps = {
		$3,
	};

	render() {
		return $0;
	}
}
endsnippet
